#home{
    max-width: 600px;
    margin: 0 auto;
    margin-top:30px;
}

#home .panel{
    width: 100%;
    position: relative;
}

#home .imagen-home{
    position: absolute;
    display: inline-block;
    width: 25px;
    top:3px;
}

#home .texto-acordion{
    display: inline-block;
    margin-left: 35px;
}




#home #exit{
    text-align: right;
}


#home .subconjunto{
 
    position: relative;
    margin:25px;
    margin-left: 60px;

}



#home .stick{

    position: -webkit-sticky;
    position: sticky;
    top: 85%;
    z-index: 10;

}

#home .stick .button{
    width: 40px;
    position: absolute;
    right: -1%;
    cursor: pointer;
}